// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#map {
  width: 60%;
  height: 400px;
  margin: 40px auto;
}

.info-container {
  width: 60%;
  margin: 0 auto;
  background: #fff;
  padding: 30px 0;
  border-radius: 15px;

  .info-table {
    width: 90%;
    margin: 0 auto;
  }
}

.info-table {
  width: 45%;

  th ,td {
    padding: 10px;
  }

  tr {
    border-bottom: 1px dotted #000;

    th {
      color: $orange;
      width: 25%;
    }

    .center {
      text-align: center;
    }

    .title {
      color: $blue;
      font-size: 20px;
    }

    .name {
      color: #000;
    }
  }
}

.around-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: 50px auto;


  .table-container {
    width: 48%;
    background: #fff;
    padding: 30px 0;
    margin-bottom: 40px;
    border-radius: 15px;
  }

  .info-table {
    width: 90%;
    margin: 0 auto;
  }
}
