// Place all the styles related to the public::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 避難者側避難所通信一覧画面



// 避難者側避難所通信詳細画面
.post-show {
  width: 60%;
  margin: 80px auto;

  p {
    margin-top: 20px;
  }
}

.img-flex {
  display: flex;
  justify-content: center;
}

.post-img {
  text-align: center;
  margin-right: 10px;
}