// Place all the styles related to the public::residents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.mypage-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .left-container {
    width: 80%;

    .new-post-container {
      width: 80%;
      margin: 0 auto 20px;
      background: white;
      border-radius: 10px;
      padding: 10px 0 20px 20px;

      .new-post-table {
        width: 80%;
        margin: 0 auto;

        tr:nth-child(2) td {
          font-weight: bold;
        }

        th {
          font-size: 24px;
          text-align: center;
        }

        th, td {
          padding: 5px;
        }

        td {
          max-width: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

    }

  }

  .right-container {
    background: white;
    border-radius: 10px;
    padding: 10px;
    height: 80%;
    width: 25%;

    .photo-info-btn {
      @include link-btn();
      width: 100%;
      background: $red;
      margin-bottom: 20px;
      display: inline-block;

      &:hover {
        @include link-btn-hover();
        color: $red;
        background: white;
        border: 1px solid $red;
      }
    }

    .edit-btn {
      @include link-btn();
      width: 100%;
      background: $blue;

      &:hover {
        @include link-btn-hover();
        color: $blue;
        background: white;
        border: 1px solid $blue;
      }
    }
  }
}

#mycalendar {
  margin-top: 30px;
}




