// Place all the styles related to the public::residents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.mypage-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  @include mq('tab') {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .left-container {
    width: 60%;
    marign-right: 2%;

    .new-post-container {
      width: 100%;
      margin: 0 auto 20px;
      background: white;
      border-radius: 15px;
      padding: 20px;

      .new-post-table {
        width: 90%;
        margin: 0 auto;

        .title {
          color: #000;
          text-decoration: none;
          border-bottom: 1px solid #000;
          padding-bottom: 2px;
          font-size: 18px;
        }

        .time {
          color: $orange;
        }

        tr:first-child th {
          text-align: center;
          font-size: 24px;
        }

        th, td {
          padding: 10px;
        }

        td {
          max-width: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    @include mq('tab') {
      width: 90%;
      margin: 0 auto;

      .new-post-container {
        width: 100%;
        padding: 5px 10px;

        .new-post-table {
          width: 95%;
          margin: 0 auto;

          .title {
            font-size: 14px;
          }

          tr:first-child th {
            font-size: 16px;
          }

          th, td {
            padding: 5px;
          }

          td {
            font-size: 12px;
          }
        }
      }
    }
  }

  .right-container {
    background: white;
    border-radius: 15px;
    padding: 20px;
    height: 80%;
    width: 37%;
    display: flex;
    flex-direction: column;

    p {
      text-align: center;
      padding-bottom: 2px;
      border-bottom: 1px dashed #666;
    }

    .photo-info-btn {
      @include link-btn($red);
      width: 100%;
      margin: 0 auto 20px;

      &:hover {
        @include link-btn-hover($red);
        background: white;
      }
    }

    .btns {
      text-align: center;
      margin: 0 auto;
    }

    .edit-btn {
      @include link-btn($blue);
      width: 100%;
      margin: 0 auto;

      &:hover {
        @include link-btn-hover($blue);
      }
    }

    @include mq('tab') {
      background: white;
      border-radius: 15px;
      padding: 10px;
      height: 80%;
      width: 90%;
      margin: 20px auto 0;


      .btns {
        width: 40%;

        .photo-info-btn {
          @include link-btn($red);
          width: 65%;
          margin: 0 auto 20px;
          padding: 6px 10px;
          font-size: 12px;
        }

        .edit-btn {
          @include link-btn($blue);
          width: 65%;
          padding: 6px 10px;
          margin: 0 auto;
          font-size: 12px;
        }
      }
    }
  }
}

// 避難者カレンダー
#mycalendar {
  margin-top: 30px;
}

// 写真許可注意画面
.photo-explanation {
  width: 65%;
  margin: 30px auto;
  line-height: 2;
  background: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-itmes: center;

  .important {
    text-align: center;
    font-size: 22px;
    color: $red;
  }

  .explanation-body {
    line-height: 2.5em;
    letter-spacing: .2em;
  }

  .photo-btn {
    @include link-btn($green);
    margin: 0 auto;

    &:hover {
      @include link-btn-hover($green);
    }
  }
}

// 写真許可・一言メッセージ編集画面
.resident-edit-form {
  width: 40%;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: $red;
    }

    .update-btn {
      @include link-btn($blue);

      &:hover {
        @include link-btn-hover($blue);
      }
    }
  }
}

// レスポンシブ
@media screen and (max-width: 750px) {
  .mypage-flex {





  }

  .photo-explanation {
    width: 100%;
    margin: 30px auto;

    .important {
      font-size: 18px;
    }

    .explanation-body {
      font-size: 12px;
    }

    .photo-btn {
      padding: 4px 20px;
    }
  }

  .resident-edit-form {
    width: 80%;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
  }
}