// Place all the styles related to the public::residents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.mypage-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .left-container {
    width: 80%;

    .new-post-container {
      width: 80%;
      margin: 0 auto 20px;
      background: white;
      border-radius: 15px;
      padding: 10px 20px;

      .new-post-table {
        width: 90%;
        margin: 0 auto;

        .title {
          color: #000;
          text-decoration: none;
          border-bottom: 1px solid #000;
          padding-bottom: 2px;
          font-size: 18px;
        }

        .time {
          color: $orange;
        }

        tr:first-child th {
          text-align: center;
          font-size: 24px;
        }

        th, td {
          padding: 10px;
        }

        td {
          max-width: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

    }

  }

  .right-container {
    background: white;
    border-radius: 15px;
    padding: 10px;
    height: 80%;
    width: 25%;

    .photo-info-btn {
      @include link-btn();
      width: 100%;
      background: $red;
      margin-bottom: 20px;
      display: inline-block;

      &:hover {
        @include link-btn-hover();
        color: $red;
        background: white;
        border: 1px solid $red;
      }
    }

    .edit-btn {
      @include link-btn();
      width: 100%;
      background: $blue;

      &:hover {
        @include link-btn-hover();
        color: $blue;
        background: white;
        border: 1px solid $blue;
      }
    }
  }
}

#mycalendar {
  margin-top: 30px;
}


// 写真許可

.photo-explanation {
  width: 65%;
  margin: 30px auto;
  line-height: 2;
  background: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-itmes: center;

  .important {
    text-align: center;
    font-size: 22px;
    color: $red;
  }

  .explanation-body {
    line-height: 2.5em;
    letter-spacing: .2em;
  }

  .photo-btn {
    @include link-btn();
    background: $green;
    margin: 0 auto;

    &:hover {
      @include link-btn-hover();
      color: $green;
      border: 1px solid $green;
    }
  }
}

.resident-edit-form {
  width: 40%;
  margin: 40px auto;
  background: #fff;
  padding: 30px;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: $red;
    }
    .update-btn {
      @include link-btn();
      background: $blue;
      border: none;

      &:hover {
        @include link-btn-hover();
        color: $blue;
        border: 1px solid $blue;
      }
    }
  }
}