// Place all the styles related to the admin/AdminEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 避難者統計情報

@import "variables";


.resident-info {
  display: flex;
  justify-content: center;
  margin: 40px;

  .info-box {
    width: 200px;
    height: 100px;
    margin: 0 30px 30px;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    background: #fff;

    .box-title {
      font-size: 24px;
    }

    .box-body {
      font-size: 32px;
      font-weight: bold;
    }

    .today {
      line-height: 100px;
      font-size: 32px;
    }
  }

  .info-box:first-child {
    border-color: $green;
  }


  .info-box:nth-child(2) {
    border-color: $red;
  }

  .info-box:nth-child(3) {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    border-color: $blue;
  }

  .info-box:last-child {
    border-color: $yellow;
  }
}

.admin-calendar {
  width: 100%;
  margin-top: 30px;
}


.event-form {
  width: 50%;
  margin: 0 auto;
}

input[type="title"] {
  padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
}