// Place all the styles related to the households controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

//世帯情報フォーム
.household-form-container {
  width: 50%;
  margin: 40px auto;
  padding: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  .household-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .new-btn {
      @include link-btn($orange);

      &:hover {
        @include link-btn-hover($orange);
      }
    }

    .update-btn {
      @include link-btn($blue);

      &:hover {
        @include link-btn-hover($blue);
      }
    }
  }

  @include mq('tab') {
    width: 70%;
    font-size: 14px;
  }

  @include mq('sp') {
    width: 95%;
    font-size: 12px;
  }
}