// Place all the styles related to the admin/Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.btn-container {
  display: flex;
  justify-content: center;
}

.post-edit-btn {
  @include link-btn($green);
  margin-right: 20px;

  &:hover {
    @include link-btn-hover($green);
  }
}

.post-delete-btn {
  @include link-btn($red);

  &:hover {
    @include link-btn-hover($red);
  }
}

.post-edit-form {
  width: 50%;
  margin: 40px auto;
  background: #fff;
  padding: 30px;

  .edit-form {
    display: flex;
    flex-direction: column;

    .photos {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .update-btn {
      @include link-btn($blue);
      width: 100px;
      margin: 0 auto;

      &:hover {
        @include link-btn-hover($blue);
      }
    }
  }
}

// 画像をプレビュー
#image_prev {
  width: auto;
  height: 400px;
}

.center {
  text-align: center;
}

@media screen and (max-width: 750px) {
  .post-edit-form {
    width: 80%;
  }
}