// Place all the styles related to the admin/Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";


.post-edit-form {
  width: 600px;
  margin: 0 auto;
}
#image_prev {
  width: auto;
  height: 400px;
}