// Place all the styles related to the admin/Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";


.post-form-container {
  width: 50%;
  margin: 40px auto;
  padding: 30px;
  background: #fff;

  .post-form {
    display: flex;
    flex-direction: column;
    // align-items: center;

    span.required {
      float: right;
      color: $red;
    }

    span.optional {
      float: right;
    }

    .new-btn {
      @include link-btn();
      background: $orange;
      border: none;
      width: 30%;
      margin: 0 auto;

      &:hover {
        @include link-btn-hover();
        color: $orange;
        border: 1px solid $orange;
      }
    }
  }
}

.btn-container {
  display: flex;
  justify-content: center;
}

.post-edit-btn {
  @include link-btn();
  background: $green;
  margin-right: 20px;

  &:hover {
    @include link-btn-hover();
    color: $green;
    border: 1px solid $green;
  }
}

.post-delete-btn {
  @include link-btn();
  background: $red;

  &:hover {
    @include link-btn-hover();
    color: $red;
    border: 1px solid $red;
  }
}

.post-edit-form {
  width: 600px;
  margin: 0 auto;
}
#image_prev {
  width: auto;
  height: 400px;
}