// Place all the styles related to the admin/residents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

// 避難者検索
.resident-search-container {
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;

  @include mq('tab'){
    width: 70%;
    font-size: 14px;
  }

  @include mq('sp'){
    font-size: 12px;
  }

  .search-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;

    .input-container {
      width: 100%;

      .search-label {
        color: $blue;
        font-weight: bold;
      }
    }

    .submit-btn {
      @include link-btn($blue);
      margin: 0 auto;
      width: 30%;

      &:hover {
        @include link-btn-hover($blue);
      }
    }
  }
}

// 避難者一覧
.resident-table-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  .resident-table {
    width: 90%;
    margin: 0 auto 30px;

    th, td {
      padding: 15px;
    }

    th {
      color: $orange;

      &:nth-child(-n + 3) {
        text-decoration: underline;
      }
    }

    td {
      border-bottom: 1px dotted #666;

      .name {
        color: #000;
        font-weight: bold;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 1px solid #000;
      }
    }
  }

  .new-resident-btn {
    @include link-btn($orange);
    margin: 0 auto;

    &:hover {
      @include link-btn-hover($orange);
    }
  }

  @include mq('tab') {
    width: 100%;

    .resident-table {
      width: 90%;

      th, td {
        font-size: 14px;
        display: none;
        border: none;
      }

      tr {
        border-bottom: 1px dotted #666;
      }

      th:nth-child(1) {
        display: inline-block;
        width: 25%;
      }

      th:nth-child(2) {
        display: inline-block;
        width: 15%;
      }

      th:nth-child(3) {
        display: inline-block;
        width: 15%;
      }

      th:nth-child(4) {
        display: inline-block;
        width: 45%;
      }

      td:nth-child(1) {
        display: inline-block;
        width: 25%;
      }

      td:nth-child(2) {
        display: inline-block;
        width: 15%;
      }

      td:nth-child(3) {
        display: inline-block;
        width: 15%;
      }

      td:nth-child(4) {
        display: inline-block;
        width: 45%;
      }
    }

    .new-resident-btn {
      font-size: 14px;
    }
  }

  @include mq('sp') {

    .resident-table {
      width: 100%;

      th, td {
        font-size: 10px;
      }
    }

    .new-resident-btn {
      font-size: 12px;
    }
  }
}

// 避難者詳細画面
.resident-container {
  width: 70%;
  margin: 30px auto;
  background: #fff;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  .resident-show-table {
    width: 90%;
    margin-bottom: 30px;

    th, td {
      padding: 15px;
    }

    th {
      width: 25%;
      color: $orange;
    }
    
    .title {
      text-align: center;
      color: #000;
      font-size: 24px;
    }

    tr {
      border-bottom: 1px dotted #000;
    }
  }

  .resident-edit-btn {
    @include link-btn($green);
    margin-right: 30px;

    &:hover {
      @include link-btn-hover($green);
    }
  }

  .photo-btn {
    @include link-btn($yellow);
    margin-right: 30px;

    &:hover {
      @include link-btn-hover($yellow);
    }
  }

  @include mq('tab') {
    width: 100%;

    .resident-show-table {
      width: 90%;
      margin-bottom: 30px;

      th, td {
        font-size: 14px;
      }

      th {
        width: 35%;
      }

      .title {
        font-size: 14px;
      }

    }

    .btn-link {
      text-align: center;

      .resident-edit-btn {
        margin-right: 0;
        margin-bottom: 5%;
        font-size: 14px;
      }

      .photo-btn {
        margin-right: 0;
        font-size: 14px;
      }
    }
  }

  @include mq('sp') {

    .resident-show-table {

      th, td {
        font-size: 12px;
      }

      .title {
        font-size: 12px;
      }
    }

    .btn-link {

      .resident-edit-btn {
        font-size: 12px;
      }

      .photo-btn {
        font-size: 12px;
      }
    }
  }
}


.edit-btn {
  @include link-btn($blue);
  margin: 0 auto;

  @include mq('tab') {
    font-size: 14px;
  }

  @include mq('sp') {
    font-size: 12px;
  }

  &:hover {
    @include link-btn-hover($blue);
  }
}