// Place all the styles related to the admin/residents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

// 避難者検索
.resident-search-container {
  width: 40%;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;

  .search-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;

    .input-container {
      width: 100%;

      .search-label {
        color: $blue;
        font-weight: bold;
      }
    }

    .submit-btn {
      @include link-btn($blue);
      margin: 0 auto;

      &:hover {
        @include link-btn-hover($blue);
      }
    }
  }
}

// 避難者一覧
.resident-table-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  background: #fff;
  display: flex;
  flex-direction: column;

  .resident-table {
    width: 90%;
    margin: 0 auto 30px;

    th, td {
      padding: 15px;
    }

    th {
      color: $orange;

      &:nth-child(-n + 3) {
        text-decoration: underline;
      }
    }

    td {
      border-bottom: 1px dotted #666;

      .name {
        color: #000;
        font-weight: bold;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 1px solid #000;
      }
    }
  }

  .new-resident-btn {
    @include link-btn($orange);
    margin: 0 auto;

    &:hover {
      @include link-btn-hover($orange);
    }
  }
}

// 避難者詳細画面
.resident-container {
  width: 70%;
  margin: 30px auto;
  background: #fff;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .resident-show-table {
    width: 90%;
    margin-bottom: 30px;

    th, td {
      padding: 15px;
    }

    th {
      width: 25%;
      color: $orange;

    }
    .title {
      text-align: center;
      color: #000;
      font-size: 24px;
    }

    tr {
      border-bottom: 1px dotted #000;
    }
  }

  .resident-edit-btn {
    @include link-btn($green);
    margin-right: 30px;

    &:hover {
      @include link-btn-hover($green);
    }
  }

  .photo-btn {
    @include link-btn($yellow);
    margin-right: 30px;

    &:hover {
      @include link-btn-hover($yellow);
    }
  }
}

.edit-btn {
  @include link-btn($blue);
  margin: 0 auto;

  &:hover {
    @include link-btn-hover($blue);
  }
}

// レスポンシブ
@media screen and (max-width: 750px) {
  .resident-search-container {
    width: 80%;
  }

  .resident-table-container {
    width: 95%;

    .resident-table {
      width: 100%;

      th, td {
        font-size: 14px;
      }
    }
  }

  .resident-container {
    width: 90%;
  }
}