/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap";

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  font-family: メイリオ, "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Open Sans", sans-serif, osaka, Arial, Verdana, sans-serif;
}

// 左サイドメニューここから
.left-side-menu {
  width: 10%;
  // height: 100%;
  border: 2px solid #666;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .logo {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
  }

  .list-item {
    list-style: none;
    margin-top: 20px;
    text-align: center;
  }
    .link {
      text-decoration: none;
    }

      .list-text {
        color: black;
        font-size: 18px;
      }

      .hide-link {
        display: none;
      }
}
// 左サイドメニューここまで

.buffer {
  width: 10%;
}

// メインここから
.main {        //全体に適用
  width: 90%;
  padding: 60px 40px;
  position: relative;

  .login-name {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: end;

    p {
      line-height: 50px;
      padding-right: 40px;
    }
  }

  .login-container {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
}

// カレンダーCSS
.datetime-form {
  display: inline-block;
  width: auto;
}

td.fc-sat {         //土曜日の色設定
  background-color: #eaf4ff;
}

td.fc-sun {         //日曜日の色設定
  background-color: #ffeaea;
}

.resident-info {
  display: flex;
  justify-content: center;
  margin: 20px;

  .info-box {
    width: 200px;
    height: 100px;
    margin: 0 30px 30px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    background-color: #ffeaea;

    .box-title {
      font-size: 24px;
    }

    .box-body {
      font-size: 32px;
      font-weight: bold;
    }
  }

  .info-box:nth-child(3) {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    background-color: #eaf4ff;
  }
}

.admin-event-container {
  display: flex;

  .admin-event {
    flex-basis: 450px;
    margin-right: 40px;
  }

  .admin-calendar {
    flex-basis: 900px;
  }
}

// メッセージここから
.message-container {
  display: flex;

  .messages {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;

    .message-item {
      width: 400px;
      height: auto;
      margin-bottom: 40px;
      border: 1px dashed #444;
      position: relative;

      .message-content {
        padding: 10px;
      }

      .sender {
        text-align: end;
      }

      .delete-message {
        position: absolute;
        bottom: 6px;
        left: 6px;
        border: 1px solid red;
        border-radius: 2px;
        padding: 2px 4px;

        .delete-message-link {
          color: black;
        }
      }
    }

    .message-item:nth-child(odd) {
      margin-right: 40px;
    }
  }

  .message-form {
    width: 400px;
    height: 600px;
    margin-left: auto;
  }

}